 <!doctype html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="users/userBase::baze(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">Settings</title>
</head>
<body>
	<section>
 	<h5><a>Welcome  mr</a> <a th:text="${usar.name}"></a><a> you can change your credentials here</a>  </h5>
	<div class="container">
	 
 <div class="card-body">
  	<div  >
   	 	 <div class="container">
   	 	 <div class="row">
   	 	 <div class="col-md-12">
   	 	 <div class="card">
   	 	 <div class="card-body">
   	 	 <h3 class="my-3">change Password</h3>
   	 	 <form th:action="@{/user/changepsd}" method="post">
   	 	 <div class="form-group">
   	 	 <input type="text" name="oldpsd" class="form-control" placeholder="Enter old password"/>
   	 	 <br>
   	 	 <input type="text" name="newpsd" class="form-control" placeholder="Enter new password"/>
   	 	 <br>
   	 	    	 	 <input type="text" name="otp" class="form-control" placeholder="Enter new otp"/>
   	 	 
   	 	 <button class="btn btn-success" type="submit">change password</button>
   	 	 </div>
   	 	 </form>
   	 	 
    	 	     	 	 	
   	 	 
   	 	 
   	 	 </div>
   	 	 </div></div></div></div>
  	  
  	  
  	  
  	 	</div>
  	 	</div>   
	
	</div>
	</section>
</body>
</html>
 