<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="users/userBase::baze(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section> 
	<h1>TIME LINE</h1>
	<h1>Welcome  mr<p th:text="${usar.name}"></p> </h>
	<div class="container">
	
 <div class="card-body">
  	<div  >
   	 	<h3>email :<p th:text="${usar.email}"></p> </h3> 
  	 	<h3>Role: <p th:text="${usar.role}"></p> </h3> 
  	 	<h3>Status <p th:text="${usar.about}"></p> </h3> 
  	  
  	 	</div>
  	 	</div>   
	
	</div>
	</section>
</body>
</html>