<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="baze(content)">


  <head>
    <!-- Required meta tags -->
    
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap connection below -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <!--  below is connection for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" 
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!--  above is connection for icons -->
 
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap connection above -->

<!-- below is an alet for  deleting contact  -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
function deletecontact(cid){
	swal({
		  title: "Are you sure ",
		  text: " you want to delete this contact?Once deleted, you will not be able to recover this  file!",
		  icon: "warning",
		  buttons: true,
		  dangerMode: true,
		})
		.then((willDelete) => {
		  if (willDelete) {
			  window.location="/user/delete/"+cid;
		    swal("Poof! Your imaginary file has been deleted!", {
		      icon: "success",
		    });
		  } else {
		    swal("Your imaginary file is safe!");
		  }
		});
}</script>
<!-- above is an alet for  deleting contact  -->

    <title th:text="${title}">THE BASE PAGE</title>
    <!-- below is css file  -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />
     <!-- above is css file  -->
  </head>
  
  
  <body>
  
  <!--  belwo is website to add icons
  https://cdnjs.com/libraries/font-awesome
  
  https://fontawesome.com/start
   -->
  
  
<!-- Displaying the content in meassage variable  below-->
<div  th:if="${session.msg}" th:classappend="${session.msg.type}" class="alert alert-primary  text-center"role="alert">
<p th:text="${session.msg.content}"></p>
<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
</div>
<!-- Displaying the content in meassage variable  above-->



 



<!-- below is javascript file -->
<script th:src="@{/javascript/script.js}"></script>
<!-- above is javascript file -->


<!-- below is sidebar  (use  -- a.item*5 + tab-->
<span onclick="togglesidebar()" class="crossbtn">&times;</span>
<div class="sidebar">
 <a id="home-link" th:href="@{/user/index}" class="item active"><i class="fas fa-home"></i>Home</a>
 <a th:href="@{/user/viewContacts/0}" class="item"><i class="fas fa-id-card-alt"></i>view Contact</a>
 <a th:href="@{/user/contact_form}"class="item"><i class="fas fa-file-signature"></i>Add contact</a>
 <a th:href="@{/user/profile/}" class="item"><i class="fas fa-user-alt"></i>your profile</a>
 <a th:href="@{/about/}" class="item"><i class="fas fa-award"> </i>about</a>
  <a th:href="@{/user/settings/}" class="item"><i class="fas fa-cogs"></i>settings</a>
 
 <a th:href="@{/logout}" class="item"><i class="fas fa-sign-out-alt"></i>Logout</a>
 <div class="divider"></div>
</div>
<!-- above is sidebar -->

<!-- below is content -->
<div class="content">
<i onclick="togglesidebar()" class="fas fa-bars m-3"></i>
 <div th:replace="${content}"></div>
 </div>
 <!-- above is content -->
 

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
 
</html>